@using PlanningPokerBlazor.Data
@using PlanningPokerBlazor.Orleans
@if (GameState.Players.All(x => x.ChosenCard.HasValue) == true && GameState.CardState == Orleans.CardState.Hidden)
{
    <button class="button" @onclick="RevealCards">Reveal cards!</button>
}

@if (GameState.CardState == Orleans.CardState.Shown)
{
    <button class="button" @onclick="ResetGame">Reset game!</button>
}

@code {
    [Parameter]
    public Orleans.IPokerGameGrain Game { get; set; }

    [Parameter]
    public PokerGameState GameState { get; set; }

    private async Task RevealCards()
    {
        await Game.ShowCards();
    }

    private async Task ResetGame()
    {
        await Game.Reset();
    }
}