@using PlanningPokerBlazor.Data
@if (Game?.Players.All(x => x.ChosenCard.HasValue) == true && Game?.CardState == CardState.Hidden)
{
    <button class="button" @onclick="RevealCards">Reveal cards!</button>
}

@if (Game?.CardState == CardState.Shown)
{
    <button class="button" @onclick="ResetGame">Reset game!</button>
}

@code {
    [Parameter]
    public PokerGame Game { get; set; }

    private async Task RevealCards()
    {
        Game.ShowCards();
    }

    private async Task ResetGame()
    {
        Game.Reset();
    }
}